__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/

playground

# pyenv
.python-version

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

/coverage.xml
/.coverage

.DS_Store

# Llamaindex
tests/mocks/llama-index-storage

*.local.*

.vscode/

.ruff_cache/

# Docusaurus
docs/node_modules/
docs/build/
docs/.docusaurus/
docs/.cache-loader/
docs/yarn.lock

poetry.lock

# SQLite databases (test and production)
*.db
*.db-shm
*.db-wal
